{% extends 'base.html' %}

{% block head %}
<title>articles in selected cluster</title>
{% endblock %}

{% block body %}
	<h1>Articles in this cluster</h1>
<table>
    <TR>
        {% for name in col_names %}
        <TD>{{name}}</TD>
        {% endfor %}
     </TR>
{% for item in items %}
<TR>
   <TD class="c1">{{item.file_name}}</TD> 
   <TD class="c2"><a href="/article/{{item.file_name}}" target="_blank">{{item.title}}</a></TD>
   <TD class="c3"><img src={{item.image}} width=200></TD>
   <TD class="c4">{{item.description}}</TD>
   <TD class="c5">{{item.cluster}}</TD>
</TR>
{% endfor %}
{% endblock %}